<h1>Information sur la boutique</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <p class="font-weight-bold">Nom :</p>
        </div>
        <div class="col-md-8">
            <p>{{shop.name}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="font-weight-bold">Date de création :</p>
        </div>
        <div class="col-md-8">
            <p>{{shop.creationDate | date}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="font-weight-bold">En congé :</p>
        </div>
        <div class="col-md-8">
            <p>{{shop.closed ? 'Oui' : 'Non'}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="font-weight-bold">Horaires d'ouverture :</p>
        </div>
        <div class="col-md-8">
            <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="font-weight-bold">Nombre de catégories distinctes :</p>
        </div>
        <div class="col-md-8">
            <p>{{shop.categoryCount}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="font-weight-bold">Produits :</p>
        </div>

    </div>

    <div class="row">
        <app-product-list [shop]="shop"></app-product-list>
    </div>

</div>