<h2> Shop List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Closed </th>
            <th>Actions</th>
            <!-- <th>Schedule </th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shop of shops">
            <td> {{ shop.name }} </td>
            <td> {{ shop.closed === true ? 'Yes' : 'No' }} </td>
            <td>
                <button 
                (click)="updateShop(shop.id)" 
                class="btn btn-info">Update</button>
                <button 
                (click)="deleteShop(shop.id)" 
                class="btn btn-danger">Delete</button>
            </td>
            <!-- <td >
                <span *ngFor="let day of shop.schedule | keyvalue">
                    <b>{{day.key + ": "}}</b>{{day.value }}<br/>
                </span>
                
            </td> -->
        </tr>
    </tbody>
</table>