<h2 class="text-center">Listes des boutiques</h2>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success float-right"  routerLink="/shop/create">Ajouter une boutique</button>
    </div>
</div>

<!-- Filter input -->
<div class="row">
    <div class="col-md-2">
        <label for="selectField">En congé</label>
        <select class="form-control" #selectField (change)="changeFilter(selectField.value, 'closed')">
            <option value="">Peu importe</option>
            <option value="true">Oui</option>
            <option value="false">Non</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="dateFieldAfter">Date de création après</label>
        <input class="form-control" type="date" [max]="dateFieldBefore.value" #dateFieldAfter (change)="changeFilter(dateFieldAfter.value, 'afterCreationDate')">
    </div>
    <div class="col-md-2">
        <label for="dateFieldBefore">Date de création avant</label>
        <input class="form-control" type="date" [min]="dateFieldAfter.value" #dateFieldBefore (change)="changeFilter(dateFieldBefore.value, 'beforeCreationDate')">
    </div>
  </div>


<!-- Table -->
<table mat-table matSort [dataSource]="shops">
    <!-- Table columns -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let shop"> {{shop.name}} </td>
    </ng-container>

    <ng-container matColumnDef="closed">
        <th mat-header-cell *matHeaderCellDef> Congé </th>
        <td mat-cell *matCellDef="let shop"> {{shop.closed ? 'Oui' : 'Non'}} </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de création </th>
        <td mat-cell *matCellDef="let shop">
            {{
            shop.creationDate | date: 'dd/MM/yyyy'

            }}
        </td>
    </ng-container>

    <ng-container matColumnDef="productCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de produits </th>
        <td mat-cell *matCellDef="let shop">
            {{ shop.productCount }}
        </td>
    </ng-container>

    <ng-container matColumnDef="categoryCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de catégories </th>
        <td mat-cell *matCellDef="let shop">
            {{ shop.categoryCount }}
        </td>
    </ng-container>

    <!-- Action column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="" mat-cell *matCellDef="let shop">
            <div class="d-flex justify-content-around">
            <button mat-button class="btn btn-primary" [routerLink]="['/shop/', shop.id, 'detail']">Détails</button>
                <button mat-button class="btn btn-info" (click)="updateShop(shop.id)">Modifier</button>
            <button mat-button class="btn btn-danger" (click)="deleteShop(shop.id)">Supprimer</button>
            </div>
        </td>
    </ng-container>

    <!-- Table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination -->
<mat-paginator 
[pageSizeOptions]="[5, 10, 20]" 
showFirstLastButtons>
</mat-paginator>


